:root{
//Primary
--orange: hsl(25, 97%, 53%);

//Neutral
--white: hsl(0, 0%, 100%);
--light-grey: 217, 12%, 63%;
--medium-grey: 216, 12%, 54%;
--dark-blue: 213, 19%, 18%;
--very-dark-blue: 216, 12%, 8%;

--light-grey-hsl: var(--light-grey);
--medium-grey-hsl: hsl(var(--medium-grey));
--dark-blue-hsl: hsl(var(--dark-blue));
--very-dark-blue-hsl: hsl(var(--very-dark-blue));
}